<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/login.css" />
</head>
<body>
	<div>
				<footer class="storefooter" role="contentinfo"
					ng-if="::!vm.isMobile">
					<div class="innerfooter" ncp-click-log action-id="footer.link">
						<ul class="provis bottomstyle">
							<li class="li2"><a class="footerstyle"
								href="https://sell.smartstore.naver.com/#/terms/agreement"
								target="_blank">이용약관</a></li>
							<li class="li2"><a class="footerstyle"
								href="https://business.naver.com/privacy/privacy.html"
								target="_blank" title="새창"><strong>개인정보 처리방침</strong></a></li>
							<li class="li2"><a class="footerstyle"
								href="javascript:void(0)" role="button"
								ng-click="vm.responsibilityPopup()" title="팝업">책임의 한계와 법적고지</a></li>
							<li class="li2"><a class="footerstyle"
								href="https://help.sell.smartstore.naver.com/index.help"
								target="_blank">회원정보 고객센터</a></li>
						</ul>
						<adderss class="naverlinkstyle2 bottomstyle">
						<p>
							<a class="navericon" href="https://www.navercorp.com/"
								class="logo" target="_blank" title="새창"></a>
						</p>
						<p class="naverlinkstyle3">Copyright ©</p>
						<a class="naverlinkstyle4" href="https://www.navercorp.com/"
							class="copy-navercorp" target="_blank" title="새창"><strong
							class="naverlinkstyle">NAVER Corp.</strong></a>
						<p class="naverlinkstyle5">All rights reserved.</p>
						</adderss>
					</div>
				</footer>
			</div>
</body>
</html>