@charset "UTF-8";


.fl {
	float: left;
}

.footst {
	position: relative;
}

.footerst {
	position: relative;
	padding: 24px 8px 24px 24px;
}

.footerst1 {
	font-size: 18px;
	line-height: 24px;
	color: #212121;
}

.footerst2 {
	margin-top: 8px;
	padding: 0 24px 20px;
}

.footerst3 {
	position: relative;
}

.footerst4 {
	font-size: 11px;
	line-height: 18px;
	color: #999;
	margin-top: 6px;
}

.footerst5 {
	display: inline-block;
	font-size: 15px;
	line-height: 24px;
	color: #212121;
	vertical-align: top;
}

.footerst6 {
	font-size: 11px;
	line-height: 18px;
	color: #999;
	margin-top: 6px;
}

.footerst7 {
	margin-top: 20px;
	width: 216px;
}

.footerst8 {
	margin-top: 11px;
}

.footerbt {
	min-width: 48px;
	height: 24px;
	padding: 0 9px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	line-height: 24px;
	font-weight: bold;
	font-size: 11px;
	color: #222;
}

.footerbt:disabled {
	background-color: #e0e0e0;
	color: #999;
	cursor: default;
}

.footerbutton {
	position: absolute;
	top: 20px;
	right: 4px;
	padding: 8px;
}

.footerbutton:before {
	background-image:
		url(https://static-resource-smartstore.pstatic.net/smartstore/c/static/20230614141702/img/sprite/center/svg/spCenter_icon_svg.svg);
	background-size: 179px 170px;
	background-position: -159px -4px;
	width: 16px;
	height: 16px;
	display: block;
	content: "";
}

.footerbutton1 {
	background:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANgAAABIBAMAAABmaCadAAAACXBIWXMAAB2GAAAdhgFdohOBAAAAIVBMVEXZ2dnb29vq6uru7u7t7e3a2trs7Ozc3Nzr6+vo6Oje3t6kXE+FAAAA2UlEQVRYw+2WsQrCMBRFb4fi2gzSPYrg6ivibIJzHfIDKsHRrq6CH+BP+Js+aD+hr2C5Q+AkGW4yvMsBgJXsWxRBZAJm2B+GreNJNzFGc/bef13t/dY5Z80QkQfKIAd9gjXrpqlQXmU3AU8dJhUQhgtbRs65S+d3vqSUrBm6Nvm+TLWeWnM/1A1QyDCAtjzjunpJ02LRf9OWtUU+3nfuqb1izdB+1KG7xaM+wZpnXVcMGyGMdsUweiO9kd5Ib6Q30hvpjQyjNzKM3khvpDfSG+mN9EZ6I8NG4h9SHIoVv+HvegAAAABJRU5ErkJggg==)
		repeat;
}

.footerbutton2 {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background-color: #fff;
	vertical-align: top;
}

.footerbutton3 {
	margin-top: 9px;
	font-size: 11px;
	line-height: 18px;
	color: #999;
}

.footerstyle.footerstyle2 .footerbutton1:empty:before {
	background-image:
		url(https://static-resource-smartstore.pstatic.net/smartstore/c/static/20230614141702/img/sprite/center/svg/spCenter_icon_svg.svg);
	background-size: 179px 170px;
	background-position: -4px -4px;
	width: 115px;
	height: 15px;
	margin: -8px 0 0 -58px;
}

.footerstyle .footerbutton1:empty:before {
	position: absolute;
	top: 50%;
	left: 50%;
	background-image:
		url(https://static-resource-smartstore.pstatic.net/smartstore/c/static/20230614141702/img/sprite/center/svg/spCenter_text_svg.svg);
	background-size: 107px 88px;
	background-position: -4px -4px;
	width: 99px;
	height: 45px;
	margin: -22px 0 0 -49px;
	content: "";
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.blind {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

body, p, button, ul, li {
	margin: 0;
	padding: 0;
}

body, input, textarea, select, button, table {
	font-family: Helvetica, '나눔고딕', 'Nanum Gothic', '나눔스퀘어', 'Nanum Square',
		'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움',
		sans-serif;
	font-size: 12px;
	line-height: 1.5em;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1000;
}

body, p, button, ul, li {
    margin: 0;
    padding: 0;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	/* 임시 지정 */
	width: 744px;
	height: 538px;
}

.popup1 {
	overflow: hidden;
	position: relative;
	z-index: 1000;
}

.popup2 {
	background-color: #404b5d;
	height: 64px;
	padding: 20px 24px;
	position: relative;
	box-sizing: border-box;
}

.popup3 {
	background-color: #fff;
}

.popup4 {
	overflow: hidden;
	width: 744px;
	height: 474px;
	padding: 0 22px 22px;
	background-color: #404b5d;
	box-sizing: border-box;
}

.popup5 {
	overflow: hidden;
	position: relative;
	float: left;
	width: 452px;
	height: 452px;
	margin-right: 16px;
	background-color: #34363e;
}

.popup6 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	text-align: center;
}

.popup7 {
	display: table-cell;
	font-size: 13px;
	line-height: 18px;
	color: #999;
	vertical-align: middle;
}

.popup8 {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.popup9 {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	border: 1px solid #8e96a7;
	font-size: 12px;
	line-height: 28px;
	color: #fff;
	vertical-align: top;
	border-color: #6c768b;
	background-color: #6d778c;
}

.popup10 {
	display: block;
	cursor: pointer;
}

.popupfont1 {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.popupbt {
	padding: 24px 28px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.popupbt:before {
	background-image:
		url(https://static-resource-smartstore.pstatic.net/smartstore/c/static/20230614141702/img/sprite/center/svg/spCenter_icon_svg.svg);
	background-size: 179px 170px;
	background-position: -159px -28px;
	width: 16px;
	height: 16px;
	display: block;
	content: "";
}

.footerli {
	font-size: 11px;
	line-height: 18px;
	color: #999;
}

.footerli1 {
	color: #03c75a;
}

.mg1 {
	margin-top: 8px;
}

ul {
	list-style: none;
}

.footerdi {
	position: absolute;
	bottom: 0;
	left: 0;
}

.footbut {
	border-color: #00ae34 !important;
	background-color: #03c75a !important;
}

.footbut1 {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	border: 1px solid #8e96a7;
	background-color: #8991a3;
	font-size: 12px;
	line-height: 28px;
	color: #fff;
	vertical-align: top;
}