@charset "UTF-8";
.fl {float:left;}
.fr {float:right;}
.border {
	border: 1px solid pink;
}
body {
	font-family: Helvetica, '나눔고딕', 'Nanum Gothic', '나눔스퀘어', 'Nanum Square', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    position: relative;
    background-color: #ffffff;
    margin:0px;
}
.blind {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;   
}
.smallss {
	transform: scale(0.84);
    transform-origin: 0px 0px 0px;
    height: 120%;
}
#headert {
    position: relative;
}
.topmargin {
	margin:0 auto;
	width: 1280px;
}
a {
	cursor: pointer;
}
.firsttop:before {
	position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.07);
    height: 1px;
    content: "";
}
.naverlogo2 {
	vertical-align: top;
}
.naverlogo2:before {
	background-image: url("https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spText_svg.svg");
    background-size: 487px 440px;
    background-position: -382px -218px;
    width: 46px;
    height: 8px;
    margin-top: 13px;
    display: inline-block;
    content: "";
}
.navershopinglogo {
	margin-left: 18px;
	vertical-align: top;
}
.navershopinglogo:before {
	background-position: -391px -194px;
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spText_svg.svg);
    background-size: 487px 440px;
    width: 66px;
    height: 13px;
    margin-top: 10px;
    display: inline-block;
    content: "";
}
.likestore {
	color: #fff;
	display: inline-block;
    padding: 5px;
    font-size: 11px;
    line-height: 28px;
    vertical-align: top;
}
.mypage {
	display: inline-block;
    position: relative;
    margin: 0 2px;
    vertical-align: top;
    padding: 0;
    color: #fff;
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    line-height: 28px;
    vertical-align: top;
}
.mypage:after {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spArrow_svg.svg);
    background-size: 252px 250px;
    width: 5px;
    height: 3px;
    display: inline-block;
    margin: 12px 1px 0 3px;
    vertical-align: top;
    content: "";
    background-position: -182px -206px;
}
.basket {
	color: #fff;
	display: inline-block;
    padding: 5px;
    font-size: 11px;
    line-height: 28px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin: 0 2px;
}
.nickname {
	display: inline-block;
    position: relative;
    margin: 0 2px;
    vertical-align: top;
    padding: 0;
    color: #fff;
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    line-height: 28px;
    vertical-align: top;
}
.nickname:after {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spArrow_svg.svg);
    background-size: 252px 250px;
    width: 5px;
    height: 3px;
    display: inline-block;
    margin: 12px 1px 0 3px;
    vertical-align: top;
    content: "";
    background-position: -182px -206px;
}
.listcube:after {
	background: url(https://ssl.pstatic.net/static/common/gnb/one/sp_gnb_v15.png?v=2006) no-repeat -999px -999px;
	width: 18px;
    height: 18px;
    background-position: -261px -120px;
    content: "";
    display: inline-block;
    margin: 10px 1px 0 3px;
    vertical-align: top;

}
.profile {
    display: inline-block;
	border-radius: 50%;
    vertical-align: top;
    border: 0;
    width: 42px;
    aspect-ratio: auto 42 / 42;
    height: 42px;
}
.introduce {
	display: inline-block;
    margin-left: 14px!important;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    position: relative;
    top: 10px;
}
.myself {
	display: inline-block;
    vertical-align: middle;
}
.secondtop {
	position: relative;
    height: 52px;
    padding-top: 10px;
}
.likecustomer {
	display: inline-block;
    position: relative;
    margin-left: 12px;
    padding: 0 20px 0 13px;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
}
.likecustomer:before {
	position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: rgba(255,255,255,.2);
    content: "";
}
.que {
	top: 19px;
    position: relative;
    right: 24px;
    margin-top: -7px;
    vertical-align: top;
}
button {
	border: none;
    background-color: transparent;
    cursor: pointer;
}
.que:before {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spSs_icon_svg.svg);
    background-size: 311px 310px;
    background-position: -51px -290px;
    width: 15px;
    height: 15px;
    display: block;
    content: "";
}
.searchbar {
	position: absolute;
    top: 50%;
    right: 0;
    width: 212px;
    margin-top: -17px;
}
.searchinsert {
	position: relative;
    height: 34px;
    padding: 0 32px 0 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 17px;
}
.search1 {
	width: 100%;
    height: 34px;
    background-color: transparent;
    border: none;
    line-height: 34px;
    font-size: 14px;
    color: #333;
    outline: none;
}
.searchbtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px 9px 3px;
    outline: none;
}
.serchdetailbtn {
	width: 15px;
    height: 15px;
    position: relative;
    display: block;
}
.serchdetailbtn:before {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spIcon_svg.svg);
    background-size: 826px 810px;
    background-position: -222px -768px;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin: -1px 0 0 -1px;
    vertical-align: top;
    content: "";
}
.conmargin {
	margin: 0 auto;
	width: 1280px;
	padding-top: 50px;
}
.subjectbar {
	position: relative;
	width: 210px;
}
.storename {
	display: table;
    position: relative;
    width: 100%;
    table-layout: fixed;
    height: 301px;
    border-top: 4px solid #000;
    box-sizing: border-box;
}
.alarm {
	position: absolute;
    right: 0;
    bottom: 30px;
    left: 5px;
}
.alarm2 {
	display: inline-block;
    width: 198px;
    vertical-align: top;
    text-align: center;
}
.alarm3 {
	display: block;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 36px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
}
.bell{
	display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}
.bell:after{
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spIcon_svg.svg);
    background-size: 826px 810px;
    background-position: -778px -524px;
    width: 18px;
    height: 15px;
    display: block;
    content: "";
}
.belltext {
	display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}
.storemainname {
	text-overflow: ellipsis;
    line-height: 35px;
    display: -webkit-box;
    max-height: 70px;
    white-space: normal;
    font-size: 28px;
    color: #000;
    word-wrap: normal;
    word-break: break-all;
}
.storemiddle {
	display: inline-block;
    vertical-align: top;
}
a, a:hover, a:active, a:focus {
    text-decoration: none;
}
.center {
	display: table-cell;
    width: 100%;
    padding-bottom: 97px;
    text-align: center;
    vertical-align: middle;
}
.today {
	padding-top: 27px;
    border-top: 1px solid #e2e5e9;
}
.todayandtotal {
	display: inline-block;
    padding: 0 15px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 24px;
    color: rgba(0,0,0,.45);
    background-color: #f7f7f7;
    vertical-align: top;
}
.visit {
	font-family: Helvetica,Arial,sans-serif!important;
    color: rgba(0,0,0,.6);
}
.total:before {
	display: inline-block;
    width: 3px;
    height: 3px;
    margin: 10px 7px 0 6px;
    border-radius: 100%;
    vertical-align: top;
    background-color: rgba(0,0,0,.3);
    content: "";
}
em {
	font-style: normal;
}
.topmenu {
	position: relative;
   
}
.menucontent {
	padding-top: 18px;
    border-top: 1px solid #000;
}
ul {
    list-style: none;
}
.ulstype {
	padding: 0;
	margin: 0;
}
.ulstype2 {
	margin-bottom: 18px!important;
	margin: 0;
    padding: 0;
}

.listtype:before {
	position: absolute;
    top: 50%;
    right: 18px;
    background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spSs_arrow_svg.svg);
    background-size: 169px 147px;
    background-position: -19px -130px;
    width: 6px;
    height: 10px;
    margin-top: -5px;
    content: "";
}
.listtype {
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    word-break: break-all;
    white-space: nowrap;
    word-wrap: normal;
    position: relative;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}

.ardown {
    position:relative;
    top:17px;
} 
.ardown:before {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spArrow_svg.svg);
    background-size: 252px 250px;
    background-position: -124px -206px;
    width: 7px;
    height: 4px;
    display: inline-block;
    vertical-align: top;
    content: "";
}
.submenulist {
	display: block;
    font-size: 13px;
    line-height: 40px;
    font-weight: bold;
    color: #999;
}
.listyle2 {
	margin: 0;
    padding: 0;
}
.promotionimg {
	background-image: url(https://shop-phinf.pstatic.net/20230404_156/1680589458664HYQxV_PNG/%C8%AD%B8%E9_%C4%B8%C3%B3_2023-03-28_143010.png?type=m10000_10000)!important;
	z-index: 10;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    transition: opacity .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.right {
	width: 1020px!important;
}
.promotionlist {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:0;
}
.promotion {
	position: relative;
    height: 400px;
}
.promotiontext {
	height: 100%;
    background-color: rgba(0,0,0,.25);

}
.promotiontext1 {
	display: table;
    table-layout: fixed;
    width: 594px;
    height: 100%;
    margin: 0 auto;
}
.promotiontext2 {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pmtext {
	font-size: 42px;
    font-weight: normal;
    line-height: 52px;
    color: #fff;
    white-space: pre-line;
    word-break: keep-all;
    word-wrap: break-word;
}
.pcontent {
    margin-top: 70px;
    height:410px;
}
.fpcontent {
    margin-top: 70px;
    height:730px;
}
.newpcontent {
    margin: 0 auto;
}
.newpname {
	font-size: 20px;
    line-height: 26px;
    display: block;
    color: #000;
}
.newpul {
	margin: 0 -15px 0 -16px;
	padding:0px;
}
.newpli {
	padding: 0 15px 0 16px;
	width: 33%;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    margin: 20px 0;
    white-space: normal;
    box-sizing: border-box;
    vertical-align: top;
}
.newpimgbox {
	background-size: 90px;
}
.newpimg {
	position: relative;
    display: block;
    color: #000;
}
.newpimgdetail {
	width: 100%;
    height: auto;
	position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.03);
}
.newp1name {
	padding-top: 3px;
    background-color: #fff;
    box-shadow: 11px 0 0 0 #fff;
    text-overflow: ellipsis;
    line-height: 28px;
    word-break: break-all;
    display: -webkit-box;
    max-height: 56px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
    font-weight: 600;
    z-index: 3;
}
.newpnamebox {
	position: absolute;
    top: 253px;
    left: 0;
    max-width: 100%;
    margin-top: -25px;
    padding: 2px 50px 0 0;
    box-sizing: border-box;
    z-index: 2;
}
.newpricebox {
	position: absolute;
	top: 250px;
	left: 0;
    max-width: 100%;
	margin-top: 38px;
    font-size: 18px;
    line-height: 22px;
}
.freepricebox {
	position:relative;
    max-width: 100%;
	margin-top: 12px;
    font-size: 22px;
    line-height: 27px;
    display:block;
}
.wonkorea {
    font-size: 16px;
    vertical-align: 2px;
}
.wonkorea2 {
    font-size: 18px;
    vertical-align: 3px;
}
.newp1price {
	position: relative;
    top: 1px;
    font-family: tahoma,helvetica,"\B098\B214\ACE0\B515","Nanum Gothic","\B098\B214\C2A4\D018\C5B4","Nanum Square","Apple SD Gothic Neo","Malgun Gothic","\B9D1\C740\ACE0\B515",dotum,"\B3CB\C6C0",sans-serif;
}
.freep1price {
	position: relative;
    top: 1px;
    font-family: tahoma,helvetica,"\B098\B214\ACE0\B515","Nanum Gothic","\B098\B214\C2A4\D018\C5B4","Nanum Square","Apple SD Gothic Neo","Malgun Gothic","\B9D1\C740\ACE0\B515",dotum,"\B3CB\C6C0",sans-serif;
}

.freepcontent {
	width: 1280px;
    margin: 0 auto;
}
.allpcontent {
	width: 1280px;
    margin: 0 auto;
}
.freepname {
	padding-bottom: 30px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    display: block;
    color: #000;
}
.allpname {
	padding-bottom: 30px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    display: block;
    color: #000;
}
.freepbox {
	margin-top:20px;
}
.freepul {
	overflow: hidden;
}
.freepli {
	height: 630px;
    padding-left: 670px!important;
    width: 100%;
    padding: 55px 100px 0 0;
    background-color: #f9fafb;
    display: inline-block;
    position: relative;
    margin: 20px 0;
    white-space: normal;
    box-sizing: border-box;
    vertical-align: top;
}
.freeptext {
	position: static;
	display: block;
    color: #000;
}
.freep1name {
	padding-top: 0;
    box-shadow: none;
    max-height: 90px;
    font-size: 30px;
    line-height: 45px;
}
.freepimg {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.freepimgbox {
	position: static;
    padding-top: 0;
    width: 630px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-size: 90px;
}
.tag {
	margin-top: 14px;
    height: 19px;
    overflow: hidden;
}
.hashtag {
	display: inline-block;
    margin: 0 3px 3px 0;
    padding: 0 2px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #999;
    line-height: 16px;
    vertical-align: top;
}
.pdetaillook {
	margin-top: 106px;
	display: inline-block;
    padding: 14px 27px;
    background-color: #000;
    font-size: 14px;
    line-height: 1.2em;
    color: #fff;
    vertical-align: top;
}
.orderby {
	margin: 3px 0 3px;
    text-align: center;
}
.orderbyul {
	margin: 0 -12px;
}
.orderbyli {
	position: relative;
    display: inline-block;
    padding: 0 12px;
}
.orderbybtn {
	color: #000;
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;
    outline: none;
    margin: 0;
    padding: 0;
    letter-spacing:-1px;
}
.orderbybtn0 {
	font-size: 13px;
    line-height: 27px;
    color: #888;
    outline: none;
    margin: 0;
    padding: 0;
    letter-spacing:-1px;
}
.orderbybtn:before {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spSs_icon_svg.svg);
    background-size: 311px 310px;
    background-position: -196px -119px;
    width: 14px;
    height: 10px;
    display: inline-block;
    margin: 9px 5px 0 0;
    vertical-align: top;
    content: "";
}
.orderbyli+.orderbyli:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background-color: #e1e1e1;
    content: "";
}


.allpul {
	 margin: 0 -50px;
}
.allpli {
	width: 25%;
    margin-bottom: 40px!important;
    padding: 0 18px;
    position: relative;
    float: left;
    margin: 20px 0;
    box-sizing: border-box;
    height:360px;
    display: list-item;
}
.allpimgbox {
	padding-top: 130%;
	background-size: 54px;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.03);
}
.allpimg {
    position: relative;
    display: block;
    color: #000;
}
.allpimgdetail {
	position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: auto;
}
.allp1name {
	padding-right: 16px;
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    word-break: break-all;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: 14px;
    font-size: 13px;
    color: #222;
}
.allpnamebox {
	position: absolute;
    top: 330px;
    left: 0;
    max-width: 100%;
    margin-top: -25px;
    padding: 2px 50px 0 0;
    box-sizing: border-box;
    z-index: 2;
}
.allpricebox {
	margin-top: 3px;
	font-size: 13px;
    color: #222;
    line-height: 17px;
}
.allp1price {
	position: relative;
    top: 340px;
    font-family: tahoma,helvetica,"\B098\B214\ACE0\B515","Nanum Gothic","\B098\B214\C2A4\D018\C5B4","Nanum Square","Apple SD Gothic Neo","Malgun Gothic","\B9D1\C740\ACE0\B515",dotum,"\B3CB\C6C0",sans-serif;
}
.likey {
	top: 320px;
	position: absolute;
    right: 15px;
    z-index: 10;
    width: 16px;
    height: 14px;
    background: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/media/icon_heart_15x13_gray.412edbc4.svg) no-repeat;
    background-size: 16px auto;
}
.starreview {
	position: relative;
    margin-top: 7px;
    font-size: 12px;
    line-height: 15px;
    top: 340px;
}
.starreviewcon {
	position: relative;
    display: inline-block;
    color: rgba(0,0,0,.5);
    vertical-align: top;
}
.starreviewcon~.starreviewcon {
	margin-left: 11px;
}
.starreviewcon~.starreviewcon:before {
	position: absolute;
    top: 50%;
    left: -7px;
    width: 2px;
    height: 2px;
    margin-top: -1px;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    content: "";
}
/*------------------------------------------------------------------------------------*/
.last {
	width: 1020px;
    margin: 0 auto;
}
.lastfooter {
	margin-top: 80px;
    padding-bottom: 100px;
    font-size: 13px;
}
.footer1{
	position: relative;
    margin-top: 4px;
    padding: 13px 128px 13px 20px;
    color: #888;
    line-height: 28px;
    background-color: #fbfcfd;
}
.footer2{
	margin-top: 26px;
}
.fanounce {
	display: inline-block;
    margin-right: 14px!important;
    vertical-align: top;
    margin: 0;
    padding: 0;

}
.fanounce:before {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spIcon_svg.svg);
    background-size: 826px 810px;
    background-position: -489px -768px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 7px 10px 0 0;
    vertical-align: top;
    content: "";
}
.footer11 {
	display: inline-block;
    color: #000;
    vertical-align: top;
}
.sellername {
	display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.sellernember {
	display: inline-block;
    position: relative;
    vertical-align: top;
}
.ing {
	display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    letter-spacing: -0.4px;
    color: #3097b4;
    vertical-align: top;
}
.wrongnumber {
	position: relative;
    margin: 3px 0 0 7px;
    padding: 0 6px 0 23px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    font-size: 11px;
    color: #4a4a4a;
    line-height: 22px;
    letter-spacing: -0.3px;
    vertical-align: top;
}
.wrongnumber:before {
	position: absolute;
    top: 50%;
    left: 8px;
    background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spIcon_svg.svg);
    background-size: 826px 810px;
    background-position: -418px -740px;
    width: 11px;
    height: 11px;
    margin-top: -6px;
    content: "";
}
.sellerinfo {
	display: inline-block;
    position: relative;
    margin-left: 9px;
    vertical-align: top;
}
.sellerinfm {
	display: block;
    font-size: 13px;
    line-height: 28px;
    color: #000;
    letter-spacing:-1px;
}
.sellerinfm:after {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spArrow_svg.svg);
    background-size: 252px 250px;
    background-position: -169px -206px;
    width: 5px;
    height: 3px;
    display: inline-block;
    margin: 12px 0 0 5px;
    vertical-align: top;
    content: "";
}
.last {
	width: 1280px;
    margin: 0 auto;
}
.lastfooter {
	margin-top: 80px;
    padding-bottom: 100px;
    font-size: 13px;
}
.footer1{
	position: relative;
    margin-top: 4px;
    padding: 13px 128px 13px 20px;
    color: #888;
    line-height: 28px;
    background-color: #fbfcfd;
}
.footer2{
	margin-top: 26px;
}
.fanounce {
	display: inline-block;
    margin-right: 14px!important;
    vertical-align: top;
    margin: 0;
    padding: 0;

}
.fanounce:before {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spIcon_svg.svg);
    background-size: 826px 810px;
    background-position: -489px -768px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 7px 10px 0 0;
    vertical-align: top;
    content: "";
}
.footer11 {
	display: inline-block;
    color: #000;
    vertical-align: top;
}
.sellername {
	display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.sellerinfm {
	display: block;
    font-size: 13px;
    line-height: 28px;
    color: #000;
    letter-spacing:-1px;
}
.sellerinfm:after {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spArrow_svg.svg);
    background-size: 252px 250px;
    background-position: -169px -206px;
    width: 5px;
    height: 3px;
    display: inline-block;
    margin: 12px 0 0 5px;
    vertical-align: top;
    content: "";
}
.sellerinfo {
	display: inline-block;
    position: relative;
    margin-left: 9px;
    vertical-align: top;
}
.sellernumber2 {
    margin-top: 3px;
    line-height: 23px;
    color: #282828;
}







.ft2_ul {
	overflow: hidden;
	margin: 0;
    padding: 0;
    letter-spacing:-1px;
}
.ft2_li {
	float: left;
    position: relative;
    margin: 0;
    padding: 0;
}
.ft2_lia {
	color: #444;
}
.ft2_li+.ft2_li:after {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 11px;
    margin: auto 0;
    background-color: #c2c2c2;
    opacity: .4;
    content: "";
}
.ft2_li+.ft2_li {
	margin-left: 8px;
    padding-left: 9px
}
.ft2_div {
	margin-top: 20px;
}
.ft2_div2, .ft2_div3 {
	margin-left: 100px;
}
.ft2_div1in {
	margin-top: 5px;
    line-height: 22px;
    font-size: 12px;
    color: #888;
}
.ft2_div1inspan {
	display: inline-block;
    width: 1px;
    height: 10px;
    margin: 7px 10px 0;
    opacity: .4;
    background-color: #c2c2c2;
    vertical-align: top;
}
.ft2_div1ina {
	color: #888;
}
.ft2_div2in {
	margin-top: 5px;
    line-height: 22px;
    font-size: 12px;
    color: #888;
}
.ft2_div2ina {
	display: inline-block;
    margin-left: 5px;
    padding: 0 4px;
    border: 1px solid #e7e7e7;
    line-height: 17px;
    font-size: 11px;
    color: #888;
    vertical-align: top;
}
.ft2_div3in {
	margin-top: 5px;
    line-height: 22px;
    font-size: 12px;
    color: #888;
}
.ft2_div3in {
	color: #888;
}
.ft2_p {
	margin-top: 36px;
    color: #888;	
}
.ft2_pa {
	display: inline-block;
    position: relative;
    margin-left: 4px;
    padding-right: 12px;
    color: #555;
    vertical-align: top;
}
.ft2_pa:after {
	position: absolute;
    top: 50%;
    right: 0;
    width: 7px;
    height: 7px;
    border-top: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
}
.naverlast {
	margin-top: 15px;
    line-height: 11px;
    font-size: 11px;
    color: #9b9b9b;
}
.naverlasta {
	background-image: url(https://static-resource-smartstore.pstatic.net/smartstore/p/static/20230616153757/img/sprite/svg/spText_svg.svg);
    background-size: 487px 440px;
    background-position: -419px -103px;
    width: 64px;
    height: 11px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
}
.naverlasta1 {
	margin: 0 3px;
    color: #9b9b9b;
}















