@charset "UTF-8";

div.border {
	border: 1px solid green;
}

.linestyle {
	border: 1px solid #e5e7ec;
	border-bottom: 0;
	border-top: 0;
	border-left: 0;
}

.linestyle1 {
	border: 1px solid #e5e7ec;
	border-right: 0;
	cursor: pointer;
}

.fl {
	float: left;
}

a {
	color: #3e4146;
	text-decoration: none;
	cursor: pointer;
}

.ui-datepicker-trigger {
	border: 1px solid #dbdde2;
	position: relative;
	top: -29px;
	height: 29px;
	width: 33px;
	left: 62px;
}

.ui-datepicker-trigger img {
	margin-left: -9px;
}

#right_side {
	width: 1693px !important;
	min-height: 700px !important;
}

.background {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1000;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	padding: 23px 30px 30px;
	width: 320px;
	height: 155px;
}

.fr {
	float: right;
}

.nickname_st {
	text-align: center;
}

.nickname_st1 {
	font-size: 21px;
	font-weight: 700;
	color: #333;
	line-height: 1.45;
}

.nickname_st2 {
	margin: 13px 0;
}

.nickname_st3 {
	display: block;
	width: 100%;
	padding: 13px 10px;
	border: 1px solid #e5e7ec;
	font-size: 15px;
	letter-spacing: -.5px;
	box-sizing: border-box;
}

.nickname_st4 {
	position: absolute;
	top: 43%;
	right: 38px;
	font-size: 15px;
	color: #8f8f8f;
	transform: translateY(-50%);
	right: 38px;
}

.nickname_st5 {
	position: relative;
	margin: 22px 0 0;
	text-align: center;
}

.nickname_bt {
	border: 1px solid #dbdde2;
	background-color: #fff;
	font-size: 14px;
	color: #3e4146;
	line-height: 1.2;
	text-align: center;
	border-radius: 0;
	min-width: 140px;
	height: 44px;
	padding: 0 20px;
	font-weight: 700;
}

.nickname_bt1 {
	min-width: 140px;
	height: 44px;
	padding: 0 20px;
	font-weight: 700;
	background-color: #43a0fa;
	color: #fff;
	border: 1px solid transparent;
}

.nickname_bt1:disabled {
	min-width: 140px;
	height: 44px;
	padding: 0 20px;
	font-weight: 700;
	border-color: #e5e7ec !important;
	background-color: #eeeff0 !important;
	outline: none;
	color: #aeb5bc !important;
	cursor: default !important;
}

.backgroundtheme {
	width: 100%;
	background: white;
}

.talkst {
	border: 1px solid rgb(219, 221, 226) !important;
}

.talk_st1 {
	width: 370px;
}

.talk_st2 {
	width: 370px;
}

.talk_st2 {
	height: 90px;
	background: white;
}

.talk_st3 {
	height: 55px;
	background: white;
}

.talk_st4 {
	position: relative;
	top: 40px;
	font-weight: 550;
	left: -5px;
}

.talk_st4.on {
	color: #43a0fa;
}

.talk_st5 {
	left: -37px;
}

.talk_st6 {
	left: -59px;
}

.talk_st7 {
	height: 50px;
}

.talk_st8 {
	font-size: 14px;
	color: #000;
	left: -9px;
	position: relative;
	top: 13px;
	font-family: NanumGothic, AppleGothic, sans-serif;
	text-align: left;
	word-break: break-all;
	letter-spacing: -.9px;
	width: 72px;
	display: block;
}

.talk_st9 {
	display: flex;
	padding: 0 20px;
	border-top: 1px solid #e5e7ec;
	border-bottom: 1px solid #e5e7ec;
	background-color: #f9fafb;
	font-size: 16px;
	color: #000;
	left: 0px;
	position: relative;
	top: 0px;
	font-family: NanumGothic, AppleGothic, sans-serif;
}

.talk_st10 {
	position: relative;
	bottom: 5px;
	left: 10px;
}

.talk_st11 {
	font-size: 14px;
	color: #000;
	left: 59px;
	position: relative;
	top: -2px;
	width: 86px;
	display: block;
	top: 16px;
}

.talk_st12 {
	height: 1000px;
	background: white;
}

.talk_st13 {
	height: 100px;
}

.talk_st13.on {
	background-color: #e1f5f3;
}

.talk_st14 {
	top: -80px !important;
}

.talk_st15 {
	border-right: 1px solid #ccc;
	background-color: #f0f2f5;
	height: 900px;
	width: 1321px;
}

.talk_st16 {
	position: relative;
	left: 222px;
}

.talk_st17 {
	left: -2px;
}

.talk_st18 {
	border-right: 1px solid #ccc;
	background-color: #f0f2f5;
	height: 993px;
	width: 994px;
}

.talk_st19 {
	max-width: 310px;
	background: #fff;
	border-radius: 12px;
	position: relative;
	left: 592px;
	top: 16px;
	height: 120px;
}

.talk_st20 {
	height: 14px;
	padding: 3px 6px;
	border-radius: 5px;
	background-color: #eef4ff;
	font-size: 11px;
	color: #376bff;
	line-height: 14px;
	letter-spacing: -1px;
	cursor: pointer;
	width: 60px;
	position: relative;
	left: 11px;
	top: -73px;
}

.talk_st21 {
	padding-bottom: 1px;
	font-size: 15px;
	color: #121212;
	cursor: pointer;
	position: relative;
	left: 12px;
	bottom: 9px;
}

.talk_st22 {
	font-size: 14px;
	color: #121212;
	font-weight: 600;
	position: relative;
	left: 13px;
	bottom: 102px;
}

.talk_st23 {
	height: 40px;
	position: relative;
	top: 82px;
	border: 1px solid #e5e7e9;
	background-color: #f6f7f9;
}

.talk_st24 {
	width: 370px;
	height: 1000px;
	position: relative;
	left: 1366px;
	background: #e9ecf0;
}

.talk_st25 {
	padding: 24px 18px 28px;
	background-color: #f5fbff;
	box-sizing: border-box;
	height: 159px;
}

.talk_st26 {
	position: relative;
	padding: 1px 0 14px;
	bottom: 10px;
}

.talk_st27 {
	display: inline-block;
	font-size: 15px;
	color: #181b1e;
	letter-spacing: -1px;
	line-height: 1.2;
	position: relative;
}

.talk_st28 {
	width: 170px;
	height: 1000px;
	position: relative;
	left: 1574px;
}

.talk_st29 {
	background: white;
	position: relative;
	border: 1px solid #ccc2c2;
	border-radius: 4px;
	height: 68px;
	width: 281px;
	bottom: 27px;
}

.talk_st30 {
	height: 43px;
	position: relative;
	left: 15px;
	bottom: -10px;
}

.talk_st31 {
	position: relative;
	bottom: 54px;
	left: 67px;
	font-size: 14px;
	font-weight: 550;
	line-height: 1.65;
	letter-spacing: -.9px;
	color: #3e4146;
}

.talk_st32 {
	position: relative;
	left: 28px;
}

.talk_st33 {
	position: relative;
	left: 118px;
	bottom: 17px;
}

.talk_st34 {
	top: -5px !important;
}

.talk_st35 {
	position: relative;
	left: 371px;
}

.talk_st36 {
	position: relative;
}

.talk_st36 {
	position: relative;
	left: 370px;
}

.talk_st37 {
	position: relative;
	left: -1px;
}

.talk_st38 {
	margin-top: 6px;
}

.talk_st39 {
	margin-top: 4px;
}

.talk_st40 {
	left: -18px !important;
}

.talk_font {
	font-size: 17px;
}

.talk_font1 {
	font-size: 15px;
}

.talk_font2 {
	position: relative;
	left: 80px;
	top: 5px;
}

.talk_font3 {
	color: #3e4146;
	cursor: pointer;
	font-family: NanumGothic, AppleGothic, sans-serif;
	font-weight: 650;
}

.talk_font4 {
	padding: 1px 0 0 5px;
	font-weight: 300;
	color: #abb3ba;
	left: 217px;
	font-size: 12px;
	position: absolute;
}

.talk_font5 {
	font-size: 12px;
}

.talk_font6 {
	margin: 1px 0 0 4px;
	color: #80868e;
	letter-spacing: -1px;
}

.talk_font7 {
	position: relative;
	left: -4px;
}

.talk_font8 {
	position: relative;
	left: 121px;
}

.talk_font9 {
	position: relative;
	left: 116px;
}

.talk_font10 {
	position: relative;
	left: 134px;
}

.talk_font11 {
	color: #3e4146;
}

.talk_font12 {
	margin-top: 6px;
	font-size: 13px;
	color: #80868e;
	margin-left: 42px;
}

.talk_font13 {
	margin-left: 515px;
	font-size: 11px;
	color: #aeb1b4;
	position: relative;
	bottom: -8px;
}

.talk_font14 {
	bottom: -38px;
	margin-left: 478px;
}

.talk_font15 {
	padding: 0 12px 1px;
	border: 1px solid #c9cfd5;
	border-radius: 15px;
	background: #cdd3d8;
	color: #fff;
	font-size: 13px;
}

.talk_font16 {
	margin-left: 662px;
	bottom: -45px;
}

.talk_font17 {
	margin-left: 609px;
	bottom: -59px;
}

.talk_font18 {
	margin-left: 633px;
	position: relative;
	bottom: -28px;
}

.talk_font19 {
	margin-left: 377px;
	font-size: 11px;
	color: #aeb1b4;
	position: relative;
	bottom: -28px;
}

.talk_font20 {
	margin-left: 808px;
	font-size: 11px;
	color: #aeb1b4;
	position: relative;
	bottom: -75px;
}

.talk_font21 {
	color: #43a0fa;
}

.talk_font22 {
	font-size: 15px;
	color: #181b1e;
	letter-spacing: -1px;
	position: relative;
	bottom: -8px;
	right: 10px;
}

.talk_font23 {
	font-family: NanumGothic, AppleGothic, sans-serif;
	font-size: 13px;
	color: #3e4146;
	line-height: 1.2;
	position: relative;
	bottom: -3px;
	right: 10px;
}

.talk_font24 {
	position: relative;
	font-size: 15px;
	left: 21px;
	bottom: -13px;
}

.talk_font25 {
	position: relative;
	left: 331px;
	font-size: 13px;
	color: #abb3ba;
	bottom: 19px;
}

.talkfont25 {
	margin-left: 377px;
	font-size: 11px;
	color: #aeb1b4;
	position: relative;
	bottom: 19px;
}

#chatsearch {
	height: 18px;
	padding: 11px 40px 11px 11px;
	border: 1px solid #dbdde2;
	background-color: #fff;
	outline: none;
	position: relative;
	left: 21px;
	width: 230px;
	top: -117px;
}

}
.deletebutton {
	width: 10px;
	height: 10px;
	margin: -5px auto 0;
}

.searchbutton {
	height: 19px;
	width: 19px;
	vertical-align: top;
	margin: -5px auto 0;
	width: 19px;
	vertical-align: top;
}

.buttonstyle {
	width: 20px;
	height: 28px;
	border-radius: 50%;
	background-color: #d0d0d0;
	cursor: pointer;
	border: none;
	position: relative;
	left: -20px;
	top: 17px;
}

.buttonstyle1 {
	height: 42px;
	border: 1px solid #dcdde2;
	border-left: 0;
	background-color: #f1f2f6;
	outline: 0;
	cursor: pointer;
	width: 40px;
	position: relative;
	bottom: 128px;
	right: 10px;
}

.buttonstyle2 {
	border: 0;
	cursor: pointer;
	position: relative;
}

.buttonstyle3 {
	border: 0;
	background: white;
	cursor: pointer;
	position: relative;
	right: 12px;
}

.buttonstyle4 {
	position: relative;
	width: 88px;
	left: 281px;
	bottom: 32px;
}

.buttonstyle5 {
	background-color: #43a0fa;
	color: #fff;
	border: 1px solid transparent;
	padding: 8px 12px 10px;
	font-size: 14px;
	cursor: pointer;
}

.buttonstyle6 {
	position: relative !important;
	width: 163px !important;
	background: white;
	color: black;
	border: 1px solid #d9d7d7;
	font-size: 15px !important;
	height: 40px;
	left: 17px;
	top: 15px;
}

.buttonstyle6.on {
	background-color: #43a0fa;
	color: #fff;
	border: 1px solid #43a0fa;
}

.buttonstyle7 {
	background-color: #43a0fa !important;
	color: #fff !important;
	border: 1px solid #2190fc !important;
	width: 163px !important;
	position: relative;
	margin-left: 157px;
	height: 40px;
	bottom: 25px;
	left: 23px;
}

.buttonstyle8 {
	background: white;
}

.buttonstyle9 {
	background-color: #f9fafb;
}

.buttonstyle10 {
	background-color: transparent !important;
}

.buttonstyle11 {
	right: -84px;
}

.buttonfont {
	position: relative;
	bottom: 149px;
	right: 0px;
	color: white;
}

.glass {
	position: relative;
	bottom: 9px;
}

.imgstyle {
	position: relative;
	left: 31px;
	top: 18px;
}

.imgstyle.on {
	background-image: 파란말풍선.png;
}

}
.imgstyle1 {
	position: relative;
	left: 32px;
	top: 15px;
}

.imgstyle2 {
	position: relative;
	left: 10px;
	top: 18px;
}

.imgstyle3 {
	position: relative;
	left: -22px;
	top: 15px;
}

.imgstyle4 {
	position: relative;
	left: -1px;
	top: 0px;
}

.imgstyle5 {
	position: relative;
	left: 30px;
	top: -2px;
}

.imgstyle6 {
	position: relative;
	left: 28px;
	top: -4px;
}

.imgstyle7 {
	width: 44px;
	height: 44px;
	position: relative;
	left: 19px;
	top: 26px;
	border: 1px solid #ebe6e6;
	border-radius: 50%;
}

.imgstyle8 {
	position: relative;
	left: 320px;
	top: -102px;
	cursor: pointer;
}

.imgstyle9 {
	position: relative;
	left: 98px;
	bottom: 30px;
}

.imgstyle10 {
	height: 36px;
	width: 36px;
}

.imgstyle11 {
	position: relative;
	left: 11px;
	top: 16px;
	border: 1px solid #ebe6e6;
	border-radius: 50%;
}

.imgstyle12 {
	position: relative;
	top: 3px;
}

.imgstyle13 {
	position: relative;
	left: 629px;
	top: 28px;
}

.imgstyle14 {
	width: 84px;
	height: 84px;
	position: relative;
	left: 212px;
	bottom: -16px;
}

.imgstyle15 {
	position: relative;
	top: 55px;
	left: 5px;
}

.imgstyle16 {
	position: relative;
	left: 20px;
	top: 5px;
}

.imgstyle17 {
	position: relative;
	left: 74px;
	top: -28px;
}

.imgstyle18 {
	position: relative;
	left: 135px;
	top: -59px;
}

.imgstyle19 {
	position: relative;
	bottom: 92px;
	left: 190px;
}

.imgstyle20 {
	position: relative;
	left: 249px;
	bottom: 125px;
}

.imgstyle21 {
	position: relative;
	top: 15px;
	left: 31px;
}

.imgstyle22 {
	position: relative;
	top: 33px;
	left: -204px;
}

.imgstyle23 {
	position: relative;
	top: 15px;
	left: 5px;
}

.talkstyle {
	position: relative;
	bottom: -6px;
	left: 76px;
}

.talkstyle1 {
	position: relative;
	bottom: 43px;
	left: 76px;
	font-size: 12px;
	color: #80868e;
}

.talkstyle2 {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	margin-top: -7px;
	text-align: center;
}

.talkstyle3 {
	height: 70px;
	padding: 17px 20px 16px;
	border-bottom: 1px solid #dbdde2;
	background-color: #fff;
	box-sizing: border-box;
	font-family: NanumGothic, AppleGothic, sans-serif;
	font-size: 13px;
	color: #3e4146;
	line-height: 1.2;
	position: relative;
	bottom: 7px;
}

.talkstyle4 {
	width: 938px;
	height: 75px;
	background: white;
	border-bottom: 1px solid #dbdde2;
}

.talkstyle5 {
	font-size: 12px;
	color: #3e4146;
	letter-spacing: -.035em;
	cursor: pointer;
	border: 0;
	background: transparent;
	position: relative;
	right: 10px;
}

.talkstyle6 {
	position: relative;
	left: 609px;
	top: 19px;
}

.talkstyle7 {
	position: relative;
	bottom: 78px;
}

.talkstyle8 {
	background: white;
	height: 308px;
	position: relative;
	bottom: 1px;
	border: 1px solid #e5e7e9;
	left: -1px;
}

.talkstyle9 {
	width: 816px;
	height: 84px;
	position: relative;
	left: 18px;
	top: 4px;
	border: 1px solid white;
}

.talkstyle10 {
	font-size: 13px;
	color: #abb3ba;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: -65px;
	margin-left: 66px;
}

.talkstyle11 {
	right: 736px;
	position: relative;
	left: 0px;
	bottom: -8px;
	height: 158px;
	background: white;
}

.talkstyle12 {
	height: 135px;
	background: white;
	position: relative;
	top: 2px;
}

.talkstyle13 {
	position: relative;
	left: 19px;
	font-size: 15px;
}

.talkstyle14 {
	position: relative;
	left: 19px;
}

.talkstyle15 {
	position: relative;
	left: 19px;
	font-size: 15px;
}

.talkstyle16 {
	position: relative;
	left: 19px;
	color: #abb3ba;
	font-size: 13px;
}

.talkstyle17 {
	height: 135px;
	background: white;
	position: relative;
	top: -6px;
}

.talkstyle18 {
	height: 188px;
	position: relative;
	top: -1px;
	background: #fffde1
		url(https://ssl.pstatic.net/static.talk/web/talktalk/20230601185700/nstatic/images/pc/pc_partner/chat/bg_widget_memo_y.png)
		repeat-y 10px;
	background-size: 4px auto;
}

.talkstyle19 {
	background: #fffde1;
	height: 45px;
	position: relative;
	border-bottom: 1px solid #e9ecf0;
	bottom: 15px;
}

.talkstyle20 {
	margin: 0;
	padding-left: 20px;
	background-image:
		url(https://ssl.pstatic.net/static.talk/web/talktalk/20230601185700/nstatic/images/pc/pc_partner/chat/bg_widget_memo_x.png);
	background-size: 1px auto;
}

.talkstyle21 {
	position: relative;
	cursor: default;
	background: #fffde1;
	border: 0;
	height: 106px;
	width: 344px;
	background-image:
		url(https://ssl.pstatic.net/static.talk/web/talktalk/20230601185700/nstatic/images/pc/pc_partner/chat/bg_widget_memo_x.png);
	background-size: 1px auto;
	right: 7px;
	bottom: 15px;
	resize: none;
}

.talkstyle22 {
	position: relative;
}

.talkstyle23 {
	width: 936px;
	height: 40px;
	border-bottom: 1px solid #e5e7e9;
	background-color: #f6f7f9;
	border-left: 1px solid #e5e7e9;
	border-right: 1px solid #e5e7e9;
}

.talkstyle24 {
	width: 380px;
	height: 160px;
}

.talkstyle25 {
	width: 938px;
	height: 760px;
}

.talkstyle26 {
	width: 938px;
	height: 907px;
	border-right: 1px solid #ccc;
}

.talkstyle27 {
	width: 938px;
	height: 309px;
	border-right: 1px solid #ccc;
}

.talkstyle28 {
	left: 12px;
}

.nicknamest {
	position: relative;
	left: 25px;
	bottom: -14px;
}

.hi {
	margin-left: 820px;
	margin-top: -52px;
	padding: 11px 13px;
	font-size: 14px;
	color: #1e1e23;
}

.bordercolor {
	border-bottom: 1px solid #dbdde2;
	border-top: 1px solid #dbdde2;
}

.tagstyle {
	border-radius: 21px;
	font-size: 12px;
	color: #43a0fa;
	background: white;
	border: 1px solid;
	cursor: pointer;
	width: 90px;
	padding: 4px;
}

.speechbubble {
	border-color: #c5e8fe;
	background: #d9f0ff;
	border-radius: 12px;
	position: relative;
	right: 249px;
	border: 1px solid #c5e8fe;
	bottom: -18px;
	width: 330px
}

.speechbubble1 {
	position: relative;
	left: 450px;
	top: 34px;
}

.speechbubble2 {
	border-color: #c5e8fe;
	background: #d9f0ff;
	max-width: 80%;
	border-radius: 12px;
	position: relative;
	right: 87px;
	border: 1px solid #c5e8fe;
	bottom: -18px;
	width: 141px;
}

.speechbubble3 {
	position: relative;
	left: -58px;
	top: 12px;
}

.speechbubble4 {
	border-color: #c5e8fe;
	background: #d9f0ff;
	max-width: 80%;
	border-radius: 12px;
	position: relative;
	right: 135px;
	border: 1px solid #c5e8fe;
	bottom: -18px;
	width: 159px;
}

.speechbubble5 {
	border-color: #c5e8fe;
	background: white;
	border-radius: 12px;
	position: relative;
	right: 776px;
	border: 1px solid #e5e7ec;
	bottom: -62px;
	width: 300px;
}

.speechbubble6 {
	border-color: #c5e8fe;
	background: #d9f0ff;
	border-radius: 12px;
	position: relative;
	right: 24px;
	border: 1px solid #c5e8fe;
	bottom: -86px;
	width: 80px;
}

.speechbubble7 {
	left: 10px !important;
}

.speechbubble8 {
	border-color: #c5e8fe;
	background: white;
	border-radius: 12px;
	position: relative;
	right: 776px;
	border: 1px solid #e5e7ec;
	bottom: -21px;
	width: 300px;
}

#sendbutton {
	color: #fff;
	border-color: #00a933;
	background-color: #00c73c;
	font-size: 14px;
	line-height: 36px;
	width: 62px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin-left: 852px;
	position: relative;
	bottom: 72px;
}

.betastyle {
	margin-top: -1px;
	background-color: transparent;
	margin-left: 6px;
	vertical-align: middle;
	color: #43a0fa;
	padding: 1px 6px;
	border-radius: 15px;
	font-size: 10px;
	font-weight: 400;
	border: 1px solid #43a0fa;
}

.storefooter {
	padding-left: 530px;
	transition: all .4s;
	position: relative;
	top: 959px;
}

.innerfooter {
	margin: 0 40px;
	padding: 35px 0 40px;
	font-family: NanumGothic;
	font-size: 12px;
	color: #303236;
	width: 1811px;
	position: relative;
	right: 564px;
	bottom: 85px;
}

.provis {
	overflow: hidden;
	margin: 0 auto;
	zoom: 1;
	text-align: center;
}

.li2 {
	position: relative;
	display: inline-block;
	padding: 0 7px 0 11px;
	line-height: 14px;
}

.li2:before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 11px;
	margin-top: -5px;
	background-color: #dadde2;
	content: "";
}

ul li {
	list-style: none;
}

.footerstyle {
	color: #303236;
	text-decoration: none;
	background-color: transparent;
}

.noticestyle {
	margin: 12px 0;
	color: #767a83;
	line-height: 1.5;
	text-align: center;
	font-size: 12px;
}

.liststyles {
	position: relative;
	display: inline-block;
	padding: 0 7px 0 11px;
}

#businessinfo {
	color: #303236;
	text-decoration: none;
	display: inline-block;
	padding: 0 5px;
	border: 1px solid #d6d8dc;
	background-color: #f2f5f8;
	font-size: 11px;
	line-height: 19px;
}

#callchat {
	text-decoration: none;
	display: inline-block;
	padding: 0 5px;
	border: 1px solid #d6d8dc;
	background-color: #f2f5f8;
	-webkit-appearance: button;
	cursor: pointer;
	overflow: visible;
	color: inherit;
	font: inherit;
}

.talktalkline {
	color: #303236;
	text-decoration: none;
	display: inline-block;
	padding: 0 5px;
	border: 1px solid #d6d8dc;
	background-color: #f2f5f8;
	font-size: 11px;
	line-height: 19px;
}

#addressinformat {
	position: relative;
	bottom: -6px;
	right: 246px;
}

.totalinfo {
	position: relative;
	left: 47px;
}

.totalinfo2 {
	position: relative;
	left: 1px;
	bottom: 11px;
}

.totalinfo3 {
	position: relative;
	left: 120px;
	top: -30px;
}

.totalinfo4 {
	position: relative;
	right: 11px;
}

.navericon {
	margin-right: 3px;
	display: inline-block;
	width: 60px;
	height: 11px;
	background:
		url(https://sell.smartstore.naver.com/images/kr/sp_common.png?0aaf083…)
		no-repeat -200px -40px;
	vertical-align: middle;
	color: inherit;
	text-decoration: none;
	position: relative;
	right: 70px;
	bottom: 20px;
}

.naverlinkstyle {
	position: relative;
	left: 434px;
	bottom: 3px;
}

.naverlinkstyle2 {
	margin: 20px 0 0;
	font-size: 10px;
	font-family: verdanan, sans-serif;
	line-height: 13px;
	color: #494949;
	text-align: center;
}

.naverlinkstyle3 {
	position: relative;
	bottom: 43px;
	right: 9px;
}

.naverlinkstyle4 {
	text-decoration: none;
	color: #666;
	background-color: transparent;
	position: relative;
	left: 492px;
	bottom: 68px;
}

.naverlinkstyle5 {
	position: relative;
	left: 128px;
	bottom: 96px;
}

.bottomstyle {
	position: relative;
	top: 87px;
	right: 90px;
}

.numbutton {
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: center;
}

.numbutton strong {
	color: #00c73c;
	border-color: #00c73c;
}

.numbuttonstrong1 {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 0 0 -1px !important;
	padding: 0;
	font-family: Arial, "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "돋움",
		Dotum, Helvetica, sans-serif;
	color: #5f6369;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #e7e7e7;
	vertical-align: top;
	text-decoration: none;
	white-space: nowrap;
	background-color: #fff;
}

input[type="text"] {
	white-space: pre-wrap;
}

.contentno {
	background-color: #fff;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	margin-top: -7px;
	text-align: center;
}

.question {
	margin-left: 132px;
}

.question1 {
	position: relative;
	right: 97px;
	top: 17px;
	font-size: 16px;
}

.question2 {
	margin-top: 24px;
	font-size: 13px;
	color: #80868e;
	margin-right: 3px;
}

.wait {
	margin-left: 145px !important;
}

.wait1 {
	position: relative;
	right: 104px;
	top: 28px;
	font-size: 14px;
}

.wait2 {
	position: relative;
	right: 104px;
	top: 44px;
	font-size: 14px;
}

.wait3 {
	position: relative;
	left: 48px;
	top: 13px;
	font-size: 14px;
}

.wait4 {
	margin-right: 124px;
}

.wait5 {
	margin-left: 132px !important;
	margin-right: 46px !important;
}

#searchbutton1 {
	font-size: 14px;
	line-height: 28px;
	width: 110px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin-left: -1px;
	background-color: #43a0fa;
	color: #fff;
	border: 0;
	margin-top: 50px;
	margin-right: 17px;
	font-weight: 700;
	padding: 8px 12px 5px;
}

.searchbutton2 {
	font-size: 14px;
	line-height: 28px;
	width: 110px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin-left: -1px;
	background-color: #43a0fa;
	color: #fff;
	border: 0;
	margin-top: 50px;
	margin-right: 9px;
	font-weight: 700;
	padding: 8px 12px 5px;
}

.searchbutton3 {
	font-size: 14px;
	line-height: 28px;
	width: 110px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin-left: 107px;
	background-color: #43a0fa;
	color: #fff;
	border: 0;
	margin-top: 35px;
	margin-right: 17px;
	font-weight: 700;
	padding: 8px 12px 5px;
}

.drop_down_wrap {
	width: 117px;
	padding: 0px;
	z-index: 11;
	display: none;
	position: absolute;
	top: 100%;
	right: -1px;
	left: 20px;
	z-index: 5;
	border: 1px solid rgb(162, 168, 178);
	background-color: rgb(255, 255, 255);
}

.drop_down_wrap1 {
	width: 83px;
	padding: 0px;
	z-index: 11;
	display: none;
	position: absolute;
	right: -1px;
	left: 20px;
	z-index: 5;
	border: 1px solid rgb(162, 168, 178);
	background-color: rgb(255, 255, 255);
	left: -92px;
	margin-top: -129px;
	top: 179px;
}

.drop_down_wrap2 {
	width: 102px;
	padding: 0px;
	z-index: 11;
	display: none;
	position: absolute;
	right: -1px;
	left: -21px;
	z-index: 5;
	border: 1px solid rgb(162, 168, 178);
	background-color: rgb(255, 255, 255);
	margin-top: -129px;
	top: 179px;
}

ul {
	list-style: none;
}

.list_dropDown.static {
	overflow: visible;
	max-height: none;
}

.list_dropDown {
	overflow-y: auto;
	max-height: 240px;
	padding: 7px 0px;
	margin: 1px;
}

.list_dropDown button, .list_dropDown input, .list_dropDown select {
	border-radius: 0px;
	background: transparent;
	box-shadow: none;
}

.list_dropDown button {
	line-height: 1.2;
}

.set_date {
	padding: 10px;
	border-top: 1px solid rgb(231, 231, 231);
}

.set_date .text_title {
	margin-bottom: 7px;
	font-size: 12px;
	color: rgb(128, 134, 142);
}

.drop_down_wrap .list_dropDown>li>button {
	padding: 8px 10px;
	font-size: 12px;
	color: rgb(128, 134, 142);
	border: 0;
}

.list_dropDown>li>button {
	display: block;
	width: 100%;
	padding: 7px 14px;
	text-align: left;
	letter-spacing: -0.09em;
}

.button {
	cursor: pointer;
}

.blind {
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	width: 1px;
	height: 1px;
	margin: -1px;
	position: absolute !important;
}

.set_date .box_setDate {
	position: relative;
}

.form_wrap {
	position: relative;
}

.form_field {
	display: block;
	position: relative;
	width: 100%;
}

.set_date .basic_input {
	height: 29px;
	padding: 0px 25px 0px 5px;
	font-size: 11px;
}

.basic_input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 40px;
	padding: 11px 40px 11px 11px;
	border: 1px solid rgb(219, 221, 226);
	background-color: rgb(255, 255, 255);
	outline: none;
	box-sizing: border-box;
}

.list_dropDown body, .list_dropDown button, .list_dropDown input,
	.list_dropDown select, .list_dropDown table, .list_dropDown textarea {
	font-family: NanumGothic, AppleGothic, sans-serif;
	font-size: 13px;
	color: rgb(62, 65, 70);
	line-height: 1.2;
}

.set_date .box_setDate .btn_calendar {
	position: absolute;
	top: 50%;
	right: 2px;
	z-index: 3;
	padding: 3px 3px 2px;
}

.form_field>[class*="btn"] {
	position: absolute;
	top: 50%;
	right: 0px;
	z-index: 3;
	transform: translateY(-50%);
}

.set_date .box_setDate .btn_calendar .ico_calendar1 {
	width: 18px;
	height: 18px;
}

.set_date .box_setDate .btn_calendar [class*="ico_"] {
	vertical-align: top;
	fill: rgb(149, 153, 158);
}

.talk_pc_partner button [class*="ico_"], .talk_pc_partner button span {
	position: relative;
}

.list_dropDown .set_date .box_setDate+.box_setDate {
	margin-top: 4px;
}

.list_dropDown .set_date .box_setDate .btn_calendar .ico_calendar1 {
	width: 18px;
	height: 18px;
}

.list_dropDown .set_date .box_setDate+.btn {
	margin-top: 7px;
	padding: 7px 12px;
	font-size: 12px;
	font-weight: 700;
}

.list_dropDown .btn.full {
	display: block;
	width: 100%;
}

.list_dropDown .btn_default {
	border-color: rgb(219, 221, 226);
}

.list_dropDown .btn {
	display: inline-block;
	padding: 8px 12px 10px;
	border: 1px solid transparent;
	background-color: rgb(255, 255, 255);
	font-size: 14px;
	color: rgb(62, 65, 70);
	line-height: 1.2;
	text-align: center;
	box-sizing: border-box;
}

.drop_down {
	position: relative;
	box-sizing: border-box;
}

.sorting_item .title_drop {
	display: -webkit-box;
	display: flex;
	padding: 14px 0px 15px;
	font-size: 0px;
	letter-spacing: -0.9px;
}

.drop_down .title_drop {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	outline: 0px;
	text-align: left;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

.drop_down button, .drop_down input, .drop_down select {
	border-radius: 0px;
	background: transparent;
	box-shadow: none;
	border: 0;
}

.calendar_st {
	border: 0;
}